body{
  background: url("../images/background.png");
  margin-bottom: 60px;
  height: 100%;
}
html{
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.Pokeball{
  width: 80px;
  height: 80px;
  padding: 0px;
  margin: 0px;
  position: relative;
  animation-name: ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.Pokeball img{
	width: 75%;
	height: 75%;
}

@keyframes ani {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 80px);
  }
  100% {
    left: 0;
  }
}

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: black;
}

.active {
  background-color: red;
  color: white;
}

.topnav .icon {
  display: none;
} 

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  } 
}

.footer, .push {
  height: 50px;
  text-align: center;
}

#myFooter a{
  float: none;
}